<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">Home</a>
	</li>
	<li>
		<a href="toc.html">Inhaltsverzeichnis</a>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Hintergrund<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="object.html">Gegenstand</a>
			</li>
			<li>
				<a href="problem.html">Problemstellung</a>
			</li>
			<li>
				<a href="motivation.html">Motivation</a>
			</li>
			<li>
				<a href="aim.html">Zielsetzung</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Funktionelle Beschreibung<b class="caret"></b>
		</a>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Spezifikationen<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="artifacts.html">Item-Register</a>
			</li>
		</ul>
	</li>
</ul>      