<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">Home</a>
	</li>
	<li>
		<a href="toc.html">Inhaltsverzeichnis</a>
	</li>
	<li>
		<a href="background.html">Hintergrund</a>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Sonstiges<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="background.html">sonst1</a>
				<a href="background.html">sonst2</a>
				<a href="background.html">sonst3</a>		
				<a href="background.html">sonst4</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Funktionelle Beschreibung<b class="caret"></b>
		</a>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Spezifikationen<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="artifacts.html">Item-Register</a>
			</li>
		</ul>
	</li>
</ul>      